---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Literatura Fantastica">
	<main>
		<h1>Literatura Fantástica</h1>

		<h2>Definiciones</h2>
		<p>Definir la Literatura Fantástica es un asunto complejo. Ya que no existe una definión exacta.</p>
		<li>
			<b>Tzvetan Todorov</b>: Define lo fantástico como un momento de duda del personaje
			y del lector ante la presencia de fenómenos sobrenaturales o maravillosos. 
			Esto implica la existencia de un mundo realista que se ve sacudido por 
			la presencia de fenómenos anormales.
		</li>
		
		<li>
			<b>Ana María Barrenechea</b>: Plantea que la literatura fantástica es la confrontación 
			entre el mundo literario y el régimen de experiencia del lector, que se compone de lo que
			socialmente consideramos "normal".
		</li>
		
		<li>
			<b>Julio Cortázar</b>: Para Julio Cortazar, lo fantástico no se distancia mucho de lo real. 
			Ya que en la realidad tambien pueden ocurrir fenómenos extraños.
		</li>

		Aunque no hay una definición exacta para la literatura fantástica, este 
		<b>siempre exige una transgreción de la realidad</b> basada en una fuerte capacidad imaginativa
		que muestra seres sobrenaturales, hechos anormales o situaciones irreales.

		<h2>Cuentos y Autores</h2>
		<article>
			<h3>Julio Cortázar</h3>

			<div id="books__container">
				<div>
					<img 
						src="img/cortazar/casatomada.jpeg" 
						alt="Portada del libro casa tomada de Julio Cortázar"
						loading="lazy" 
					/>
					<h4>Casa Tomada</h4>
				</div>

				<div>
					<img 
			 			src="img/cortazar/continuidad-de-los-parques.jpg" 
						alt="Portada del libro Continuidad de los parques" 
						loading="lazy"
					/>
					<h4>Continuidad de los parques</h4>
				</div>
			
				<div>
					<img 
						src="img/cortazar/axolotl.jpg"
						alt="Portada del libro Axolotl"
						loading="lazy"
					/>
					<h4>Axolotl</h4>
				</div>

				<div>
					<img 
						src="img/cortazar/lejana.jpg" 
						alt="Portada del libro Lejana" 
	 					loading="lazy"
					/>
					<h4>Lejana</h4>
				</div>
			</div>
		</article>

		<article>
			<h3>Samantha Schweblin</h3>

			<div id="books__container">
				<div>
					<img 
			 			src="img/samantha/en-la-estepa.jpg" 
			 			alt="Portada del libro En la estepa" 
			 			loading="lazy"
			 		/>
					<h4>En la estepa</h4>
				</div>

				<div>
					<img 
			 			src="img/samantha/pajaros-en-la-boca.jpg" 
						alt="Portada del libro Pajaros en la boca" 
						loading="lazy" 
					/>
					<h4>Pájaros en la boca</h4>
				</div>
			</div>
		</article>

		<article>
			<h3>Jorge Luis Borges</h3>

			<div id="books__container">
				<div>
					<img 
			 			src="img/borges/las-ruinas-circulares.jpg" 
						alt="Portada del libro Las Ruinas Circulares" 
						loading="lazy" 
					/>
					<h4>Las Ruinas Circulares</h4>
				</div>

				<div>
					<img 
			 			src="img/borges/antologia-de-la-literatura-fantastica.webp" 
			 			alt="Portada del libro de la Antología de la literatura fantástica" 
			 			loading="lazy"
					/>
					<h4>Antología de la Literatura Fantástica</h4>
				</div>
			</div>
		</article>

		<article>
			<h3>Hector Hugh Munro (Saki)</h3>

			<div id="books__container">
				<div>
					<img 
			 			src="img/saki/sredni-vashtar.jpg" 
						alt="Portada del libro Sredni Vashtar" 
						loading="lazy" 
					/>
					<h4>Sredni Vashtar</h4>
				</div>
			</div>
		</article>

		<h2>Lecturas</h2>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
	
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	li {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	#books__container {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(300px, 2fr)
		);
		gap: 0.5rem;
	}

	#books__container img {
		width: 335px;
		height: 400px;
		object-fit: cover;
	}
</style>
